.menu_left{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	.navbar-nav{
		margin: 0;
		float: none;
		li{
			float: none;
			position: relative;
			a{
				color: #000;
				display: block;
				padding: 11px 0px 11px 45px;
				&:hover{
					color: #004C99;
				}
			}
			i{
				position: absolute;
				font-size: 15px;
				margin-top: 15px;
				margin-left: 15px;
				color: #004C99;
				&:hover{
					cursor: pointer;
				}
				&:hover ~ a{
					color: #004C99;
				}
			}
		}
		>li{
			background: var(--color-all);
			>a{
				color: #fff;
				font-size: 16px;
				text-align: center;
				padding: 11px 0;
				border-bottom: 1px solid #fff;
				&:hover{
					color: #fff;
					background: unset;
				}
			}
			>ul{
				background: #fff;
				>li{
					//padding: 11px 15px;
					border-bottom: 1px solid #fff;
					background: #E6E6E6;
				}
				.level1-menu-item{
					i{
						margin-right: 15px;
					}
				}
			}
		}

		>li{
			>.sub-menu{
				.activated{
					.sub-menu{
						display: block;
					}
				}
				>li{
					.sub-menu{
						background: #fff;
						display:none;
						li{
							border-bottom: 1px solid #E6E6E6;
							padding: 0 15px;
							&:last-child{
								border-bottom: none;
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}