#cssmenu {
    background: #34aa40;
    position: relative;
    z-index: 6;

    @media (max-width: 991px) {
        display: none;
    }

    .list-item-menu {
        color: #fff;

        .see-products-menu {
            line-height: 45px;
            margin-right: 40px;

            i {
                margin-left: 10px;
            }
            &:hover{
                cursor: pointer;
            }
        }

        .list-menu-product-show {
            margin-right: 45px;
            background: #278231;
            position: relative;

            .title-menu-top {
                text-transform: uppercase;
                font-weight: bold;
                padding: 13px 20px;

                .fa-angle-down {
                    margin-left: 28px;
                }

                .fa-bars {
                    margin-right: 15px;
                }
            }

            &:hover {
                ul.selected {
                    display: block !important;
                    margin-top: 0 !important;
                }
            }
        }

        .menu-head-icon {
            padding-top: 4px;
            padding-left: 40px;
            line-height: 22px;
            margin-top: 10px;
        }

        .design-product {
            background: url(../images/menu-top_01.png) no-repeat left center;
            background-size: contain;
        }

        .free-all {
            background: url(../images/menu-top_03.png) no-repeat left center;
            background-size: contain;
        }

        .change-dreitag {
            background: url(../images/menu-top_05.png) no-repeat left center;
            background-size: contain;
        }
    }

    #list_menu {
        position: relative;

        ul#megamenu {
            position: absolute;
            font-weight: normal;
            text-transform: capitalize;
            width: 100%;
            border-radius: 5px 0 0 5px;
            margin-top: 15px;
        }

        ul.selected {
            display: none;
        }

        ul, ul li, ul ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul {
            position: relative;
            z-index: 2;
            box-shadow: 0px 0px 3px 0px #ccc;
            background: #fff;

            li {
                float: left;
                min-height: 1px;
                line-height: 1em;
                vertical-align: middle;
                position: relative;
                border-bottom: 1px dotted #ccc;
                float: none;

                &:hover {
                    position: relative;
                    z-index: 599;
                    cursor: default;

                    > ul {
                        visibility: visible;
                    }
                }

                a {
                    display: block;
                    padding: 13px;
                }
            }

            ul {
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 0px;
                z-index: 598;
                width: 100%;
                top: 0px;
                left: 100%;
                margin-top: 0px;
                -webkit-border-radius: 0 3px 3px 0;
                -moz-border-radius: 0 3px 3px 0;
                border-radius: 0 3px 3px 0;

                li {
                    float: none;
                    font-weight: normal;
                }

                ul {
                    top: 0px;
                    right: 0;
                }
            }
        }
    }
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.show_list_see_pr {
    display: none;
    .content-list-pro {
        position: relative;
        &:before{
                content: "";
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #fff;
                border-top: 8px solid transparent;
                position: absolute;
                top: -15px;
                left: 375px;
                z-index: 6;
        }
        ul {
            padding: 20px;
            background: #fff;
            position: absolute;
            z-index: 7;
            width: 100%;
            box-shadow: 1px 3px 7px 1px #b5b3b3;

            li {
                float: left;
                margin-right: 10px;
                .view_all_see{
                    color: #ce0021;
                    display: block;
                    margin-top: 20px;
                    border: 1px solid;
                    margin-left: 10px;
                    padding: 7px 16px;
                    border-radius: 5px;
                    text-decoration: none;
                    text-shadow: none;
                }
            }
        }
    }
}