body{
  background-color: #f6f6f6;
}
.main-column-content {
  .title-module{
    padding-bottom: 7px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    span{
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 5px;
      border-bottom: 2px solid var(--color-all);
      background: url(../images/icon-title.png) no-repeat left center;
      padding-left: 90px;
      padding-top: 14px;
    }
  }
  .image-check-round {
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;

    .image-info-plus {
      position: relative;
      padding-top: 20px;
      overflow: hidden;
      //background: #f4f4f4;

      img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        cursor: pointer;
      }

      .info-plus {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
        cursor: pointer;
        display: none;
        height: 100%;
        left: 0;
        overflow: hidden;
        padding: 30px 20px;
        position: absolute;
        top: 0;
        color: #fff;
        width: 100%;
        overflow-y: scroll;

        a {
          color: #fff;

          &:hover {
            color: #ef6837;
          }
        }

        &::-webkit-scrollbar {
          width: 5px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
          background-color: #ef6837;
        }
      }

      &:hover {
        .info-plus {
          display: block;

          * {
            font-size: 13px !important;
          }
        }
      }

    }

    .title-price-product {
      @media (max-width: 750px) {
        padding: 0 5px;
      }

      .title-product {
        margin: 18px 0 15px;
        height: 58px;
        font-size: 16px;
        overflow: hidden;
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        @media (max-width: 750px) {
          font-size: 12px;
          height: 66px;
          line-height: 22px;
        }
      }

      .show_more {
        color: var(--color-all);
        margin-bottom: 0;
      }
    }
  }
  #css_menu_content{
    ul{
      li{
        a{
          display: flex;
          justify-content: space-between;
          padding: 10px 15px;
          background: white;
          align-items: center;
          border-bottom: 1px solid #f6f6f6;
        }
        &.active, &:hover{
          a{
            background: var(--color-all);
            color: #fff;
          }
        }
      }
    }
  }
}

.popup-gallery {
  .title-popup {
    font-size: 20px;
    color: var(--color-all);
    margin-bottom: 15px;
  }

  .detail-product{
    margin-top: 15px;
    .detail-popup{
      font-size: 18px;
      margin-bottom: 28px;
      text-transform: uppercase;
    }
  }
}