.banner-list {
  position: relative;
  margin-left: -30px;
  @media (max-width: 768px){
    margin-left: unset;
  }
}
.item-new {
  display: block;
  a {
    position: relative;
    display: block;
    img {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }
  }
  .content-item {
    .title {
      a {
        margin: 15px 0;
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        min-height: 45px;
        line-height: 20px;
      }
    }
  }
}
.new-contents{
  margin-top: 30px;
  .title-module{
    margin-top: 40px;
    background: url(../images/viec-lam.png) #F8F8F8 no-repeat left center;
    margin-bottom: 20px;
    padding: 17px 0 17px 50px;
    span{
      font-size: 18px;
      font-weight: bold;
    }
  }
  .list-news{
    .show-list-new{
      margin-bottom: 40px;
      a{
        background: #004C99;
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
      }
    }
    .image-info-service{
      margin-bottom: 30px;
      .slick-next{
        background: url(../images/slider_03.png) no-repeat center;
        width: 40px;
        height: 40px;
        right: 25px;
        z-index: 1;
        background-size: contain;
        &:before{
          content: '';
        }
        &:hover{
          background: url(../images/slider_10.png) no-repeat center;
          background-size: contain;
          width: 40px;
          height: 40px;
          right: 25px;
        }
      }
      .slick-prev, .slick-next {
        -webkit-transform: translate(0, -210%);
        -ms-transform: translate(0, -210%);
        transform: translate(0, -210%);
      }
      .slick-prev{
        background: url(../images/slider_06.png) no-repeat center;
        width: 40px;
        height: 40px;
        left: 25px;
        z-index: 1;
        background-size: contain;
        &:before{
          content: '';
        }
        &:hover{
          background: url(../images/slider_12.png) no-repeat center;
          background-size: contain;
          width: 40px;
          z-index: 1;
          height: 40px;
          left: 25px;
        }
      }
      .image-info{
        padding: 0 10px;
        img{
          margin: 0 auto;
          margin-bottom: 15px;
        }
        .title-product{
          font-weight: bold;
          margin-bottom: 2px;
          font-size: 16px;
        }
        .time-rec{
          color: #333333;
          margin-bottom: 5px;
        }
        summary{
          max-height: 100px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          color: #0c0c0c;
          -webkit-box-orient: vertical;
          line-height: 20px;
        }
      }
    }
  }
}
